.container {
  .col{
    .texto-oferta {
      margin-top: 90px;  
      text-align: center; 
      color: $color1; 
    }
  }
}


.card-title {
    color: $color1

  }
.card-text {
  color: $color_text;
}





 

