
/*colores*/
$color_body: #9b8f8023;
$color1: #184D59;
$color_text: #042940;
$transparencia:  rgba(255, 255, 255, 0.301);
$btn_color: #184D59;
$btn_hover:#836502;
$btn_border:#9b8f801a;
$card_shadow: rgba(0, 0, 0, 0.3);
$color_texto: rgb(255, 255, 255);
/*oferta*/

/*forn*/
$color-formulario: #333;
$margin-vertical: 10px;
